In [1]:
%matplotlib inline 
import numpy as np 
import scipy as sp 
import matplotlib as mpl
import matplotlib.cm as cm 
import matplotlib.pyplot as plt
import pandas as pd 
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set(style="whitegrid")
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv("data.csv")
data = data.reset_index(drop=True)

In [3]:
result = pd.read_excel("Result.xlsx")
result = result.reset_index(drop=True)

In [4]:
data.head()

   match_event_id  shot_id_number  location_x  location_y  remaining_min  power_of_shot  knockout_match game_season  remaining_sec  distance_of_shot  is_goal           area_of_shot shot_basics    range_of_shot          team_name date_of_game   home/away type_of_shot type_of_combined_shot  match_id     team_id
0            10.0               1       167.0        72.0           10.0            1.0             0.0     2000-01           27.0              38.0      NaN          Right Side(R)   Mid Range        16-24 ft.  Manchester United     31-10-00  MANU @ POR    shot - 30             Shot-None  20000012  1610612747
1            12.0               2      -157.0         0.0           10.0            1.0             0.0     2000-01           22.0              35.0      0.0           Left Side(L)   Mid Range         8-16 ft.  Manchester United     31-10-00  MANU @ POR    shot - 45             Shot-None  20000012  1610612747
2            35.0               3      -101.0       135.0            7.0            1.0             0.0     2000-01           45.0              36.0      1.0   Left Side Center(LC)   Mid Range        16-24 ft.  Manchester United     31-10-00         NaN    shot - 25             Shot-None  20000012  1610612747
3            43.0               4       138.0       175.0            6.0            1.0             0.0     2000-01           52.0              42.0      0.0  Right Side Center(RC)   Mid Range        16-24 ft.  Manchester United     31-10-00  MANU @ POR    Shot-None              shot - 3  20000012  1610612747
4           155.0               5         0.0         0.0            NaN            2.0             0.0     2000-01           19.0              20.0      1.0              Center(C)   Goal Area  Less Than 8 ft.                NaN     31-10-00  MANU @ POR    Shot-None              shot - 1  20000012  1610612747

In [5]:
result.head()

   match_event_id  shot_id_number  location_x  location_y  power_of_shot  knockout_match  distance_of_shot  is_goal           area_of_shot shot_basics    range_of_shot     home/away type_of_shot type_of_combined_shot  match_id     team_id  time_remaining    year  month  Last
0            10.0               1       167.0        72.0            1.0             0.0              38.0      NaN          Right Side(R)   Mid Range        16-24 ft.    MANU @ POR    shot - 30             Shot-None  20000012  1610612747       10.450000  2000.0   10.0   1.0
1           254.0               8         1.0        28.0            3.0             0.0              22.0      NaN              Center(C)   Goal Area  Less Than 8 ft.    MANU @ POR    Shot-None              shot - 3  20000012  1610612747        8.083333  2000.0   10.0   1.0
2           100.0              17         0.0         0.0            1.0             0.0              20.0      NaN                    NaN   Goal Area  Less Than 8 ft.  MANU vs. UTA    Shot-None              shot - 4  20000019  1610612747        0.016667  2000.0    1.0   1.0
3           249.0              20         0.0         0.0            3.0             0.0              20.0      NaN              Center(C)         NaN  Less Than 8 ft.  MANU vs. UTA     shot - 4             Shot-None  20000019  1610612747       10.766667  2000.0    1.0   1.0
4           265.0              22       134.0       127.0            3.0             0.0              38.0      NaN  Right Side Center(RC)   Mid Range        16-24 ft.  MANU vs. UTA    shot - 24             Shot-None  20000019  1610612747        9.066667  2000.0    1.0   NaN

In [6]:
result = result.dropna(subset=['Last'])
data = data.dropna(subset=['is_goal'])

In [7]:
result = result.drop(columns='Last')
result = result.drop(columns='is_goal')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24429 entries, 1 to 30696
Data columns (total 21 columns):
match_event_id           23189 non-null float64
shot_id_number           24429 non-null int64
location_x               23273 non-null float64
location_y               23184 non-null float64
remaining_min            23185 non-null float64
power_of_shot            23229 non-null float64
knockout_match           23217 non-null float64
game_season              19797 non-null object
remaining_sec            23179 non-null float64
distance_of_shot         23172 non-null float64
is_goal                  24429 non-null float64
area_of_shot             23247 non-null object
shot_basics              23146 non-null object
range_of_shot            23181 non-null object
team_name                23217 non-null object
date_of_game             23192 non-null object
home/away                23215 non-null object
type_of_shot             24429 non-null object
type_of_combined_shot    24429 non-null object
match_id                 24429 non-null int64
team_id                  24429 non-null int64
dtypes: float64(9), int64(3), object(9)
memory usage: 4.1+ MB

In [9]:
data['time_remaining'] = data.remaining_min + data.remaining_sec/60
data = data.drop(columns=['remaining_min','remaining_sec','game_season'])

In [10]:
data.date_of_game = pd.to_datetime(data.date_of_game)

In [11]:
data['year'] = data['date_of_game'].dt.year
data['month'] = data['date_of_game'].dt.month
data = data.drop(columns='date_of_game')

In [12]:
data.knockout_match = data.knockout_match.astype('object')
data.year = data.year.astype('object')
data.month = data.month.astype('object')

result.knockout_match = result.knockout_match.astype('object')
result.year = result.year.astype('object')
result.month = result.month.astype('object')

In [13]:
data.describe()

       match_event_id  shot_id_number    location_x    location_y  power_of_shot  distance_of_shot       is_goal      match_id       team_id  time_remaining
count    23189.000000    24429.000000  23273.000000  23184.000000   23229.000000      23172.000000  24429.000000  2.442900e+04  2.442900e+04    21995.000000
mean       249.575402    15329.854804      7.494178     91.461180       2.521503         33.467159      0.445331  2.474317e+07  1.610613e+09        5.351919
std        150.052347     8860.893604    110.126457     88.041628       1.153056          9.380114      0.497013  7.745041e+06  0.000000e+00        3.474208
min          2.000000        2.000000   -250.000000    -44.000000       1.000000         20.000000      0.000000  2.000001e+07  1.610613e+09        0.000000
25%        111.000000     7654.000000    -67.000000      4.000000       1.000000         25.000000      0.000000  2.050006e+07  1.610613e+09        2.350000
50%        254.000000    15340.000000      0.000000     74.000000       3.000000         35.000000      0.000000  2.090034e+07  1.610613e+09        5.050000
75%        369.000000    22969.000000     95.000000    160.000000       3.000000         41.000000      1.000000  2.960027e+07  1.610613e+09        8.316667
max        653.000000    30697.000000    248.000000    791.000000       7.000000         99.000000      1.000000  4.990009e+07  1.610613e+09       11.900000

In [14]:
data = data.drop(columns='team_name')

In [15]:
categorical_variables = data.dtypes.loc[data.dtypes=='object'].index

In [16]:
categorical_variables

Index(['knockout_match', 'area_of_shot', 'shot_basics', 'range_of_shot', 'home/away', 'type_of_shot', 'type_of_combined_shot', 'year', 'month'], dtype='object')

In [17]:
continuous_varaible = [x for x in data.columns if x not in categorical_variables]

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24429 entries, 1 to 30696
Data columns (total 19 columns):
match_event_id           23189 non-null float64
shot_id_number           24429 non-null int64
location_x               23273 non-null float64
location_y               23184 non-null float64
power_of_shot            23229 non-null float64
knockout_match           23217 non-null object
distance_of_shot         23172 non-null float64
is_goal                  24429 non-null float64
area_of_shot             23247 non-null object
shot_basics              23146 non-null object
range_of_shot            23181 non-null object
home/away                23215 non-null object
type_of_shot             24429 non-null object
type_of_combined_shot    24429 non-null object
match_id                 24429 non-null int64
team_id                  24429 non-null int64
time_remaining           21995 non-null float64
year                     23192 non-null object
month                    23192 non-null object
dtypes: float64(7), int64(3), object(9)
memory usage: 3.7+ MB

In [19]:
data.head()

   match_event_id  shot_id_number  location_x  location_y  power_of_shot knockout_match  distance_of_shot  is_goal           area_of_shot shot_basics    range_of_shot   home/away type_of_shot type_of_combined_shot  match_id     team_id  time_remaining  year month
1            12.0               2      -157.0         0.0            1.0              0              35.0      0.0           Left Side(L)   Mid Range         8-16 ft.  MANU @ POR    shot - 45             Shot-None  20000012  1610612747       10.366667  2000    10
2            35.0               3      -101.0       135.0            1.0              0              36.0      1.0   Left Side Center(LC)   Mid Range        16-24 ft.         NaN    shot - 25             Shot-None  20000012  1610612747        7.750000  2000    10
3            43.0               4       138.0       175.0            1.0              0              42.0      0.0  Right Side Center(RC)   Mid Range        16-24 ft.  MANU @ POR    Shot-None              shot - 3  20000012  1610612747        6.866667  2000    10
4           155.0               5         0.0         0.0            2.0              0              20.0      1.0              Center(C)   Goal Area  Less Than 8 ft.  MANU @ POR    Shot-None              shot - 1  20000012  1610612747             NaN  2000    10
5           244.0               6      -145.0       -11.0            3.0              0              34.0      0.0           Left Side(L)   Mid Range         8-16 ft.  MANU @ POR    shot - 17             Shot-None  20000012  1610612747        9.533333  2000    10

In [20]:
data = data.reset_index(drop=True)
result = result.reset_index(drop=True)

## Missing Data

In [21]:
# Detecting missing values
data.isnull().sum()

match_event_id           1240
shot_id_number              0
location_x               1156
location_y               1245
power_of_shot            1200
knockout_match           1212
distance_of_shot         1257
is_goal                     0
area_of_shot             1182
shot_basics              1283
range_of_shot            1248
home/away                1214
type_of_shot                0
type_of_combined_shot       0
match_id                    0
team_id                     0
time_remaining           2434
year                     1237
month                    1237
dtype: int64

In [22]:
for i in categorical_variables:
    data[str(i)].fillna(data[str(i)].mode()[0], inplace=True)

data = data.fillna(data.mean())

In [23]:
for i in categorical_variables:
    result[str(i)].fillna(result[str(i)].mode()[0], inplace=True)

result = result.fillna(data.mean())

In [24]:
# data = data.dropna(axis = 0, how = 'any')
# data = data.reset_index(drop=True)

In [25]:
data.isnull().sum()

match_event_id           0
shot_id_number           0
location_x               0
location_y               0
power_of_shot            0
knockout_match           0
distance_of_shot         0
is_goal                  0
area_of_shot             0
shot_basics              0
range_of_shot            0
home/away                0
type_of_shot             0
type_of_combined_shot    0
match_id                 0
team_id                  0
time_remaining           0
year                     0
month                    0
dtype: int64

In [26]:
result.isnull().sum()

match_event_id           0
shot_id_number           0
location_x               0
location_y               0
power_of_shot            0
knockout_match           0
distance_of_shot         0
area_of_shot             0
shot_basics              0
range_of_shot            0
home/away                0
type_of_shot             0
type_of_combined_shot    0
match_id                 0
team_id                  0
time_remaining           0
year                     0
month                    0
dtype: int64

## -----------------------------------------------------------

In [27]:
data[categorical_variables].apply(lambda x: len(x.unique()))

knockout_match            2
area_of_shot              6
shot_basics               7
range_of_shot             5
home/away                74
type_of_shot             58
type_of_combined_shot     7
year                     21
month                    12
dtype: int64

In [28]:
for var in categorical_variables:
    print(var)
    print(data[var].value_counts())
    print('\n')

knockout_match
0.0    21046
1.0     3383
Name: knockout_match, dtype: int64


area_of_shot
Center(C)                11359
Right Side Center(RC)     3616
Right Side(R)             3504
Left Side Center(LC)      3031
Left Side(L)              2848
Mid Ground(MG)              71
Name: area_of_shot, dtype: int64


shot_basics
Mid Range          10771
Goal Area           5323
Penalty Spot        4245
Goal Line           3515
Right Corner         302
Left Corner          216
Mid Ground Line       57
Name: shot_basics, dtype: int64


range_of_shot
Less Than 8 ft.    8312
16-24 ft.          6220
8-16 ft.           5076
24+ ft.            4751
Back Court Shot      70
Name: range_of_shot, dtype: int64


home/away
MANU @ SAS      1981
MANU @ PHX       701
MANU vs. SAS     693
MANU @ SAC       686
MANU vs. PHX     650
MANU vs. HOU     642
MANU @ DEN       639
MANU @ HOU       615
MANU @ POR       614
MANU vs. DEN     581
MANU vs. SAC     579
MANU vs. POR     559
MANU @ MIN       554
MANU vs. MIN     549
MANU vs. UTA     545
MANU @ UTA       541
MANU @ GSW       525
MANU vs. GSW     499
MANU vs. LAC     493
MANU @ DAL       474
MANU @ LAC       474
MANU vs. DAL     443
MANU vs. MEM     398
MANU @ MEM       393
MANU @ BOS       387
MANU @ SEA       330
MANU vs. IND     322
MANU vs. BOS     316
MANU @ ORL       311
MANU @ PHI       301
                ...
MANU vs. CHI     239
MANU @ CHI       238
MANU vs. MIL     232
MANU vs. ORL     232
MANU @ ATL       225
MANU @ MIA       223
MANU @ MIL       221
MANU vs. NOH     215
MANU @ NOH       214
MANU vs. CLE     210
MANU @ NJN       209
MANU vs. WAS     201
MANU vs. NJN     176
MANU vs. ATL     173
MANU vs. CHA     171
MANU @ CHA       159
MANU @ VAN        98
MANU @ NOK        94
MANU vs. VAN      89
MANU vs. NOK      83
MANU vs. CHH      73
MANU @ NOP        61
MANU @ CHH        46
MANU vs. PHO      31
MANU @ BKN        30
MANU @ PHO        26
MANU vs. NOP      19
MANU vs. SAN      18
MANU @ UTH        15
MANU vs. BKN      12
Name: home/away, Length: 74, dtype: int64


type_of_shot
Shot-None    12136
shot - 39     1145
shot - 36     1042
shot - 4       875
shot - 15      554
shot - 38      521
shot - 44      487
shot - 43      318
shot - 17      306
shot - 12      292
shot - 52      277
shot - 46      269
shot - 32      249
shot - 56      229
shot - 49      183
shot - 31      177
shot - 1       171
shot - 10      170
shot - 27      164
shot - 55      158
shot - 26      157
shot - 51      156
shot - 18      152
shot - 16      143
shot - 29      142
shot - 24      141
shot - 19      138
shot - 9       138
shot - 3       136
shot - 5       132
shot - 48      131
shot - 22      131
shot - 2       130
shot - 53      129
shot - 21      128
shot - 20      126
shot - 13      125
shot - 8       124
shot - 54      124
shot - 23      123
shot - 42      122
shot - 45      122
shot - 50      121
shot - 30      120
shot - 6       120
shot - 14      118
shot - 25      116
shot - 40      114
shot - 41      113
shot - 28      112
shot - 37      111
shot - 11      111
shot - 35      108
shot - 7       103
shot - 33      102
shot - 34       98
shot - 0        95
shot - 47       94
Name: type_of_shot, dtype: int64


type_of_combined_shot
Shot-None    12293
shot - 3      9338
shot - 4      2129
shot - 1       470
shot - 5        72
shot - 2        66
shot - 0        61
Name: type_of_combined_shot, dtype: int64


year
2009.0    3037
2012.0    1694
2002.0    1690
2008.0    1609
2006.0    1572
2000.0    1551
2010.0    1529
2007.0    1475
2003.0    1464
2004.0    1359
2001.0    1257
2005.0    1132
2011.0     950
1999.0     887
2013.0     762
1997.0     565
2014.0     485
2016.0     462
1998.0     446
2015.0     446
1996.0      57
Name: year, dtype: int64


month
12.0    4381
3.0     3083
11.0    2762
1.0     2706
2.0     2680
4.0     2462
5.0     1702
6.0     1143
10.0    1056
8.0      838
9.0      824
7.0      792
Name: month, dtype: int64

In [29]:
# data.plot('location_x','location_y',c= 'is_goal',colormap='autumn',kind='scatter')
# plt.show()

In [30]:
# goals=data[data["is_goal"]==1]

In [31]:
# len(goals)

In [32]:
# fig=plt.figure(figsize=(8,6))
# goals.year.value_counts().sort_index().plot()
# plt.xlabel("Time")
# plt.ylabel("Number of goals")
# plt.title("Number of goals against Time during match")
# plt.show()

In [33]:
# fig=plt.figure(figsize=(8,6))
# plt.hist(goals[goals["side"]==1]["time"],width=1,bins=100,color="cyan",label="home goals")   
# plt.hist(goals[goals["side"]==2]["time"],width=1,bins=100,color="grey",label="away goals") 
# plt.xlabel("Minutes")
# plt.ylabel("Number of goals")
# plt.legend()
# plt.title("Number of goals (by home/away side) against Time during match")

In [34]:
data.columns

Index(['match_event_id', 'shot_id_number', 'location_x', 'location_y', 'power_of_shot', 'knockout_match', 'distance_of_shot', 'is_goal', 'area_of_shot', 'shot_basics', 'range_of_shot', 'home/away', 'type_of_shot', 'type_of_combined_shot', 'match_id', 'team_id', 'time_remaining', 'year', 'month'], dtype='object')

In [35]:
dependent_variable = 'is_goal'
independent_variable = [x for x in data.columns if x not in [dependent_variable]]

In [36]:
independent_variable

['match_event_id',
 'shot_id_number',
 'location_x',
 'location_y',
 'power_of_shot',
 'knockout_match',
 'distance_of_shot',
 'area_of_shot',
 'shot_basics',
 'range_of_shot',
 'home/away',
 'type_of_shot',
 'type_of_combined_shot',
 'match_id',
 'team_id',
 'time_remaining',
 'year',
 'month']

In [37]:
data.columns

Index(['match_event_id', 'shot_id_number', 'location_x', 'location_y', 'power_of_shot', 'knockout_match', 'distance_of_shot', 'is_goal', 'area_of_shot', 'shot_basics', 'range_of_shot', 'home/away', 'type_of_shot', 'type_of_combined_shot', 'match_id', 'team_id', 'time_remaining', 'year', 'month'], dtype='object')

In [38]:
categorical_variables

Index(['knockout_match', 'area_of_shot', 'shot_basics', 'range_of_shot', 'home/away', 'type_of_shot', 'type_of_combined_shot', 'year', 'month'], dtype='object')

In [39]:
X = data[independent_variable]

In [40]:
X.tail()

       match_event_id  shot_id_number  location_x  location_y  power_of_shot  knockout_match  distance_of_shot          area_of_shot   shot_basics    range_of_shot     home/away type_of_shot type_of_combined_shot  match_id     team_id  time_remaining    year  month
24424           382.0           30692         0.0     0.00000            4.0             1.0              20.0             Center(C)     Goal Area  Less Than 8 ft.  MANU vs. IND     shot - 4             Shot-None  49900088  1610612747        5.351919  2009.0   12.0
24425           397.0           30693         1.0    48.00000            4.0             1.0              24.0             Center(C)     Mid Range  Less Than 8 ft.  MANU vs. IND     shot - 1             Shot-None  49900088  1610612747        6.083333  2000.0    6.0
24426           426.0           30695      -134.0   166.00000            4.0             1.0              41.0  Left Side Center(LC)     Mid Range        16-24 ft.  MANU vs. IND    Shot-None              shot - 3  49900088  1610612747        3.466667  2000.0    6.0
24427           448.0           30696        31.0   267.00000            4.0             1.0              46.0             Center(C)  Penalty Spot  Less Than 8 ft.  MANU vs. IND    shot - 26             Shot-None  49900088  1610612747        2.166667  2000.0    6.0
24428           471.0           30697         1.0    91.46118            4.0             1.0              27.0             Center(C)     Goal Line  Less Than 8 ft.  MANU vs. IND    shot - 45             Shot-None  49900088  1610612747        0.650000  2000.0    6.0

In [41]:
# X.iloc[:24429, :]

In [42]:
M = data[independent_variable].append(result[independent_variable])

In [43]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for var in categorical_variables:
    M[var] = le.fit_transform(M[var])

In [44]:
data_ = M.iloc[:24429, :]

In [45]:
data_['is_goal'] = data['is_goal']

In [46]:
result = M.iloc[24429:, :]

In [47]:
result

      match_event_id  shot_id_number  location_x  location_y  power_of_shot  knockout_match  distance_of_shot  area_of_shot  shot_basics  range_of_shot  home/away  type_of_shot  type_of_combined_shot  match_id     team_id  time_remaining  year  month
0          10.000000               1  167.000000    72.00000       1.000000               0         38.000000             5            4              0         28            25                      0  20000012  1610612747       10.450000     4      9
1         254.000000               8    1.000000    28.00000       3.000000               0         22.000000             0            0              4         28             0                      4  20000012  1610612747        8.083333     4      9
2         100.000000              17    0.000000     0.00000       1.000000               0         20.000000             0            0              4         71             0                      5  20000019  1610612747        0.016667     4      0
3         249.000000              20    0.000000     0.00000       3.000000               0         20.000000             0            4              4         71            35                      0  20000019  1610612747       10.766667     4      0
4           4.000000              33  163.000000    76.00000       1.000000               0         37.000000             5            4              0         35            29                      0  20000047  1610612747       11.433333     4      3
5           8.000000              34   70.000000   194.00000       1.000000               0         40.000000             4            4              0         35             0                      4  20000047  1610612747       10.966667     4      3
6          26.000000              35    1.000000    19.00000       1.000000               0         21.000000             0            0              4         35            34                      0  20000047  1610612747        7.550000     4      3
7          37.000000              36  -12.000000    91.46118       1.000000               0         21.000000             0            0              4         35            34                      0  20000047  1610612747        5.966667     4      3
8          53.000000              37    1.000000     4.00000       1.000000               0         20.000000             0            0              4         35             0                      5  20000047  1610612747        4.150000     4      3
9         165.000000              38 -117.000000   116.00000       2.000000               0         36.000000             1            4              4         35             2                      0  20000047  1610612747        5.550000    13     11
10        281.000000              45  -12.000000    19.00000       3.000000               0         22.000000             0            0              4         35            34                      0  20000047  1610612747        5.351919     4      3
11        410.000000              50 -176.000000    30.00000       4.000000               0         37.000000             2            4              4         35             0                      4  20000047  1610612747        3.316667     4      3
12        249.575402              55 -141.000000   247.00000       1.000000               0         48.000000             1            5              1         68             0                      4  20000049  1610612747        4.966667     4      4
13        199.000000              60  146.000000    91.46118       2.000000               0         48.000000             4            5              1         50             7                      0  20000049  1610612747        3.166667     4      4
14        397.000000              66  -10.000000    91.00000       4.000000               0         29.000000             0            1              4         50             0                      4  20000049  1610612747       10.216667     4      4
15         22.000000              67 -119.000000    36.00000       1.000000               0         32.000000             2            4              2         11             0                      4  20000058  1610612747        9.100000     4      6
16         55.000000              71  159.000000   110.00000       1.000000               0         39.000000             5            4              0         11            57                      0  20000058  1610612747        5.250000     4      6
17        313.000000              80   58.000000    47.00000       4.000000               0         27.000000             0            1              4         11            16                      0  20000058  1610612747       11.816667     4      6
18         20.000000              85  -29.000000    70.00000       1.000000               0         27.000000             0            1              4         30             0                      4  20000068  1610612747        9.800000     4      7
19         33.000000              86 -124.000000    49.00000       2.521503               0         33.000000             2            4              2         30             0                      4  20000068  1610612747        7.433333     4      7
20        180.000000              95    7.494178     4.00000       2.000000               0         33.000000             5            4              2         30             0                      4  20000068  1610612747        4.416667     4      7
21        192.000000              97  -94.000000   160.00000       2.000000               0         38.000000             1            4              0         30             5                      0  20000068  1610612747        3.250000     4      7
22        286.000000             104 -101.000000   137.00000       3.000000               0         37.000000             1            4              0         30            49                      0  20000068  1610612747        4.266667     4      7
23        418.000000             113 -151.000000   150.00000       4.000000               0         41.000000             1            4              0         30            45                      0  20000068  1610612747        0.716667     4      7
24        217.000000             123 -155.000000    91.46118       2.000000               0         36.000000             0            4              0         48            35                      0  20000098  1610612747        2.666667     4     11
25        249.575402             126  -96.000000    91.46118       3.000000               0         36.000000             1            4              0         48             0                      4  20000098  1610612747        9.983333     4     11
26        327.000000             133    0.000000     0.00000       3.000000               0         20.000000             0            0              4         48            42                      0  20000098  1610612747        2.933333     4     11
27        492.000000             141   45.000000    36.00000       4.000000               0         25.000000             0            1              4         48             0                      4  20000098  1610612747        1.083333    13     11
28         55.000000             144  237.000000    11.00000       1.000000               0         43.000000             5            6              1         45            41                      0  20000108  1610612747        4.866667    13     11
29        120.000000             150    0.000000    91.46118       2.000000               0         33.467159             0            0              4         45            35                      0  20000108  1610612747       10.083333     4     10
...              ...             ...         ...         ...            ...             ...               ...           ...          ...            ...        ...           ...                    ...       ...         ...             ...   ...    ...
5043      222.000000           30513    1.000000   216.00000       2.000000               1         41.000000             0            4              0         65             0                      4  49900070  1610612747        2.850000     4      4
5044      321.000000           30516  164.000000    -3.00000       3.000000               0         36.000000             5            4              0         68             0                      4  49900070  1610612747        4.683333     4      4
5045      249.575402           30520  -12.000000    91.46118       1.000000               1         27.000000             0            1              4         28            31                      0  49900071  1610612747        7.850000     4      4
5046      203.000000           30531 -143.000000   149.00000       2.000000               1         40.000000             1            4              0         28            50                      0  49900071  1610612747        0.733333     4      4
5047      138.000000           30542    0.000000     0.00000       2.000000               1         20.000000             0            0              4         28            53                      0  49900072  1610612747        8.466667     4      4
5048      152.000000           30555    7.494178    21.00000       2.000000               1         39.000000             5            4              0         65             0                      4  49900073  1610612747       11.133333     4      4
5049      214.000000           30557   63.000000   209.00000       2.000000               1         41.000000             0            4              0         65            31                      0  49900073  1610612747        4.500000     4      4
5050       30.000000           30568   68.000000   136.00000       1.000000               1         35.000000             0            1              2         28            51                      0  49900074  1610612747        5.351919     4      1
5051       92.000000           30570    0.000000     0.00000       2.000000               0         20.000000             0            0              4         28             5                      0  49900074  1610612747       11.816667     4      1
5052      418.000000           30584 -227.000000    78.00000       4.000000               1         44.000000             2            2              1         28             0                      4  49900074  1610612747        5.351919     4      1
5053      116.000000           30594    0.000000     0.00000       2.000000               1         20.000000             0            0              4         65             0                      5  49900075  1610612747       11.600000     4      3
5054      126.000000           30614  130.000000   115.00000       2.000000               1         37.000000             4            4              0         68            38                      0  49900083  1610612747        9.200000     4      6
5055      309.000000           30617 -205.000000    38.00000       3.000000               1         40.000000             2            4              0         49             0                      4  49900083  1610612747        5.351919     4      6
5056      327.000000           30618    1.000000    55.00000       3.000000               1         25.000000             0            1              4         49            40                      0  49900083  1610612747        1.350000     4      6
5057      236.000000           30631  -94.000000    91.46118       3.000000               1         40.000000             1            4              0         12            19                      0  49900086  1610612747       11.033333     4      5
5058      243.000000           30632  108.000000    12.00000       2.521503               1         30.000000             5            4              2         12             0                      4  49900086  1610612747       10.600000     4      5
5059      250.000000           30634   29.000000    51.00000       3.000000               1         25.000000             0            1              4         12             0                      4  49900086  1610612747        9.450000     4      5
5060      267.000000           30636  -27.000000    16.00000       3.000000               1         23.000000             0            0              4         12            44                      0  49900086  1610612747        7.350000     4      5
5061      301.000000           30637  -27.000000    16.00000       3.000000               1         23.000000             0            0              4         12            35                      0  49900086  1610612747        3.650000     4      5
5062      313.000000           30639  138.000000    89.00000       3.000000               1         36.000000             5            4              0         12            15                      0  49900086  1610612747        1.933333     4      5
5063      473.000000           30647    7.494178   192.00000       5.000000               1         42.000000             1            4              0         12             0                      4  49900086  1610612747        1.966667     4      5
5064      480.000000           30649   29.000000    23.00000       5.000000               1         23.000000             0            0              4         12             0                      4  49900086  1610612747        0.850000     4      5
5065      102.000000           30656  143.000000     5.00000       2.000000               1         34.000000             5            4              2         12             0                      4  49900087  1610612747       11.283333     4      5
5066      233.000000           30660 -160.000000    12.00000       3.000000               1         36.000000             2            4              0         12             0                      4  49900087  1610612747        5.351919     4      5
5067      278.000000           30665   33.000000    53.00000       3.000000               1         26.000000             0            1              4         12             0                      4  49900087  1610612747        6.016667     4      5
5068      386.000000           30669  -23.000000   222.00000       4.000000               1         42.000000             0            4              0         12             0                      4  49900087  1610612747        7.450000     4      5
5069      213.000000           30681    0.000000     0.00000       2.000000               1         20.000000             0            0              4         49            45                      0  49900088  1610612747        0.666667     4      5
5070      226.000000           30683    7.494178    48.00000       3.000000               1         28.000000             2            1              2         49            40                      0  49900088  1610612747       11.500000     4      5
5071      268.000000           30687   16.000000    93.00000       3.000000               1         29.000000             0            1              2         49            40                      0  49900088  1610612747        5.616667     4      5
5072      398.000000           30694    0.000000     0.00000       4.000000               1         20.000000             0            0              4         49            45                      0  49900088  1610612747        6.083333     4      5

[5073 rows x 18 columns]

In [48]:
data = data_

## Splitting our data into training and testing data

In [49]:
# from sklearn.model_selection import train_test_split

In [50]:
# train , test = train_test_split(data, test_size=.2)

In [51]:
# train.head()

In [52]:
# print(len(data))
# print(len(train))
# print(len(test))

In [53]:
from sklearn.ensemble import  RandomForestClassifier, VotingClassifier
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
from sklearn.pipeline import make_pipeline, make_union
from sklearn.preprocessing import FunctionTransformer
import xgboost as xgb
from xgboost.sklearn import  XGBClassifier

In [54]:
model = XGBClassifier()
model.fit(data[independent_variable],data[dependent_variable])

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [55]:
prediction = model.predict(result[independent_variable])

In [56]:
prediction

array([0., 0., 1., ..., 1., 0., 0.])

In [57]:
# from sklearn.metrics import accuracy_score
# accuracy_score(prediction,data[dependent_variable])

In [58]:
# from sklearn.metrics import mean_absolute_error
# MAE = mean_absolute_error(prediction,data[dependent_variable])

In [59]:
# Score = 1/(1+ MAE)

In [60]:
# Score

In [61]:
result.head()

   match_event_id  shot_id_number  location_x  location_y  power_of_shot  knockout_match  distance_of_shot  area_of_shot  shot_basics  range_of_shot  home/away  type_of_shot  type_of_combined_shot  match_id     team_id  time_remaining  year  month
0            10.0               1       167.0        72.0            1.0               0              38.0             5            4              0         28            25                      0  20000012  1610612747       10.450000     4      9
1           254.0               8         1.0        28.0            3.0               0              22.0             0            0              4         28             0                      4  20000012  1610612747        8.083333     4      9
2           100.0              17         0.0         0.0            1.0               0              20.0             0            0              4         71             0                      5  20000019  1610612747        0.016667     4      0
3           249.0              20         0.0         0.0            3.0               0              20.0             0            4              4         71            35                      0  20000019  1610612747       10.766667     4      0
4             4.0              33       163.0        76.0            1.0               0              37.0             5            4              0         35            29                      0  20000047  1610612747       11.433333     4      3

In [62]:
Output = pd.DataFrame()

In [63]:
Output['shot_id_number'] = result['shot_id_number']

In [64]:
Output

      shot_id_number
0                  1
1                  8
2                 17
3                 20
4                 33
5                 34
6                 35
7                 36
8                 37
9                 38
10                45
11                50
12                55
13                60
14                66
15                67
16                71
17                80
18                85
19                86
20                95
21                97
22               104
23               113
24               123
25               126
26               133
27               141
28               144
29               150
...              ...
5043           30513
5044           30516
5045           30520
5046           30531
5047           30542
5048           30555
5049           30557
5050           30568
5051           30570
5052           30584
5053           30594
5054           30614
5055           30617
5056           30618
5057           30631
5058           30632
5059           30634
5060           30636
5061           30637
5062           30639
5063           30647
5064           30649
5065           30656
5066           30660
5067           30665
5068           30669
5069           30681
5070           30683
5071           30687
5072           30694

[5073 rows x 1 columns]

In [65]:
Output['is_goal'] = prediction

In [69]:
Output.to_csv('Output.csv',index=False)